.container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100vh;
    position: relative;
    background-color: #f4f2f3;
}

.container * {
    z-index: 3;
}

.container h1 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    font-weight: 900;
}


.contentContainer {
    min-height: 600px;
    width: 100%;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem; /* Ajusta según sea necesario */
    border-radius: 10px; /* Ajusta según sea necesario */
    backdrop-filter: blur(4px); /* Ajusta el valor de desenfoque según sea necesario */
    border: 1px solid var(--secondary);
}
.tab {
    padding: 1rem;
}

.listTitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.item {
    color: black; /* Color de texto predeterminado para las opciones no seleccionadas */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
    cursor: pointer; /* Cambia el cursor al pasar sobre las opciones */
    font-size: 16px;
}

.item:hover {
    background-color: #e0e0e0; /* Cambia el color de fondo al pasar sobre las opciones */
}

.accordionTab {
    padding: 1rem;
    border: 1px solid var(--secondary);
    border-radius: 16px;
    margin: 0.5rem;
    font-weight: bold;
    background-color: var(--light-secondary);
}

.accordionContent {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr)); 
    gap: 10px; 
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.totalPriceContainer {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 16px;
}
.totalPriceContainer p {
    font-size: 1.3rem;
    font-weight: bold;
}
.totalPriceContainer span {
    font-size: 1.3rem;
    font-weight: bold;
}

.cotizarButtonContainer {
    width: 100%;
}

.cotizarButton {
    background-color: #409343; /* Color de fondo de WhatsApp verde */
    color: #fff; /* Color del texto blanco */
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    width: 100%;
    align-items: center;
    transition: background-color 0.3s ease; /* Transición para el cambio de color en hover */
    justify-content: center;
}

.cotizarButton:hover {
    background-color: #25d366; /* Color de fondo con efecto hover */
}

.whatsappIcon {
    width: 20px; /* Ajusta el tamaño del icono según sea necesario */
    height: 20px; /* Ajusta el tamaño del icono según sea necesario */
    margin-right: 5px; /* Espaciado entre el icono y el texto del botón */
}

.radiobutton {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 8px; /* Ajusta según sea necesario */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.radiobutton:checked {
    background-color: #000;
}

.selectedRadiobutton {
    background-color: var(--secondary);
    animation-name: pulse;
    animation-duration: 0.5s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.promotionsAccordionTab {
    padding: 1rem;
    border: 1px solid var(--secondary);
    border-radius: 16px;
    margin: 0.5rem;
    font-weight: bold;
    background-color: var(--very-light-secondary);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con igual ancho */
    gap: 20px; /* Espacio entre las tarjetas */
}

.cardGrid {
    width: 100%; /* Asegura que las tarjetas ocupen todo el ancho del contenedor */
}

.logo {
    max-width: 200px; /* Establece el ancho máximo de la imagen */
    object-fit: cover;
    height: 100%;
}

.logoContainer {
    width: 100%;
    height: 70px;
    display:  flex;
    justify-content:  center;
}
