@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ed7aa4;
    --secondary: #a084ce;
    --light-secondary: #b39add;
    --very-light-secondary: #c5b0e7;
    --checked: #ded2f1
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}    

body {
    overflow: auto;
    min-height: 100vh;
    min-width: 100%;   
    background-color: #F4F2F3;
    background-size: cover;
    font-family: 'Gantari';
    src: url('../public/fonts/Gantari-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


 